<div class="container">
  <div class="row">
    <div class="col">
      <h1>Kolb’s Learning Style Questionnaire</h1>
      <form action="participate" method="post">
        <div class="form-group">
          <label>Your Name:</label>
          <input type="text" name="participant"/>
        </div>
        <% @questions.each_with_index do |question, index| %>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="q_<%=question[:id] %>" value="yes"></input>
            <label><%=index +1%>. <%=question[:question] %></label>
          </div>
        <% end %>
        <input type="submit" class="btn btn-primary" value="Evaluate" />
      </form>
    </div>
  </div>
</div>
